/*@charset "utf-8";
 CSS Document 
.container-fluid{
	background-color:rgba(7,27,33,0.3);
}
div#navbar ul.nav li a{
	color:#cc9;
	font-weight:bold;
	font-size:medium;
}
div#navbar ul.nav li ul li a{
	color:#cc9;
	font-weight:bold;
	font-size:medium;
}
div#navbar-header a{
	font-weight:bold;
	font-size:x-large;
}
@media screen and (max-width:500px){
	div.navbar-header a{
		font-size:large;
		}
}*/